th.mat-sort-header-sorted {
  color: black;
}
.table-class{
  box-shadow: 5px 5px 5px #888888;
  height: 520px;
  overflow-y: scroll;
  border:1px solid black
}

.mat-column-message{
  max-width: 200px !important;
  min-width: 100px !important;
}
